/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    background-color: white;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img, .heb-card img, .activites img {
    object-fit: cover;
    background-color: red !important;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}
/**** Header ****/
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
.logo-Booki {
    display: flex;
    justify-content: left;
    width: 60px;
    height: 20px;
    padding-bottom: 15px;
}
nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    list-style-type: none;   
}
.nav-lien {
   margin-left: 20px;
   padding-top: 20px; 
}
.nav-lien:hover {
    color: #0065FC;
    border-top: 2px solid #0065FC;
    
}
/**** Section Titre****/
.main-title {
    font-size: 1.5em; 
}
.type-location {
    font-size: 1em;
    margin-top: -5px;
}
/**** Section Formulaire and Filtres****/
.form {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    width: 500px;
    height: 49px;
    margin-top: 35px;
    margin-bottom: 35px;
    
}
.gps {
   height: 29px;
   width: 49px;
   display: flex;
   justify-content: center;
   padding-top: 24px;
   padding-left: 10px;
   background-color: var(--main-bg-color);
   border-radius: 15px 0px 0px 15px;
   
}
.fa-location-dot {
    color: black;
    height: 30px;
    width: 24px;
    padding-left: 6px;
    margin-top: -7px;
    display: flex;
}
.champ{
    height: 49px;
    display: flex;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    border: 1px solid var(--main-bg-color);
 }
.request {
    width: 132px;
    height: 53px;
    border-radius: 0 15px 15px 0;
    background-color: var(--main-color);
    font-weight: bolder;
    color: white;
    border: none;
}
.filters {
    display: flex;
    margin-bottom: 35px;
}
.filters-names {
    margin-right: 20px;
    font-weight: bolder;
    font-size: 18px;
}
.filter-buttons {
    font-size: 17px;
    font-weight: 700;
    margin-right: 20px;
    border: 2px solid #d9d9d9;
    border-radius: 25px 25px 25px 25px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: white;
}
.filter-buttons:hover {
    background-color: #d8ecff;
    
}
.fa-money-bill-wave{
    margin-right: 10px;
    color: var(--main-color);
}
.fa-person {
    margin-right: 10px;
    color: var(--main-color);
}
.fa-heart {
    margin-right: 10px;
    color: var(--main-color);
}
.fa-fire {
    margin-right: 10px;
    color: var(--main-color);
}
.infobar{
    margin-bottom: 35px;
}
.fa-circle-info {
    color: var(--main-color);
    margin-right: 10px;
}
/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements-cards {
    display: grid;
    grid-template-columns: 250px 250px 250px;
    justify-content: space-between;  
}
.hebergements-cards .heb-card {
    display: flex;
    margin-top: 33px;
}

.heb-card {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.hebergements-cards img {
    width: 100%;
    height: 124px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}



.hebergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
    margin-left: 10px;
}

.hebergements-cards .card-subtitle {
    margin: 0;
    margin-bottom: 8px;
    margin-left: 10px;
}

.hebergements-cards .card-rating {
    margin-bottom: 5px;
    margin-left: 10px;
}

.more {
    font-size: 18px;
    font-weight:700 ;
    position: relative;
    top: 15px;
}
/****** Populaires ***********/
.populaires {
    width: 32%;
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
    flex-direction: row;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/**** Activités ****/
.activites-content {
    margin-top: 35px;
}

.activites{
    width: 1280px;
    padding: 30px 30px 30px 30px;
    
}

.activites-cards {
    width: 1280px; 
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 35px;
}  

.activites .lieu-card {
    display: flex;
}

.lieu-card {
    height: 439px;
    width: 298px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.activites img {
    width: 100%;
    height: 380px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.activites .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-sizing: border-box;
}

.activites .card-title {
    margin-left: 19px;
}  

/**** Footer ****/
.pied-de-page {
    background-color: var(--main-bg-color);
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    
}
.rubrique {
    width: 446px;
    margin-left: 20px;
}

h4 {
    justify-content: left;
    font-size: 18px;
    margin-bottom: 15px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .heb-card .card-title {
        font-size: 14px;
    }

    .heb-card .card-subtitle {
        font-size: 13px;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}